.hero-section {
    background: url(../../images/banners/hero.png) no-repeat center;
    height: 500px;
    position: relative;
    background-size: cover;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 6rem;
}
.hero-content {
    color: #ffffff;
    max-width: 360px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap: 16px;
}
.hero-content .hero-title{
    font-size: 1.87rem;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 36px;
   letter-spacing: 3px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}


.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline {
    border: 2px solid #ffffff;
    background-color: transparent;
    line-height: 23px;

}

.btn-filled {
    background-color: #ffffff;
    color: #6329A2;
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}